
/* importa fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/*menu de navegação principal*/
#principal{
  width: 100%;
  height: 100px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABABA;
 
  
}
  #menu{
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: 3%;
  }

    #menu a:hover{
      color: #0C70F2;
    }

  #principal button{
    margin-right: 5%;
    background-color: #0C70F2;
    color: white;
    border: none;
    Width: 90px;
    Height: 39px;
    font-size: 16px;
    box-shadow: 3px 2px 4px 0px #0C70F240;
    cursor: pointer;

  }

  #principal button:hover{
    background-color: #4870a3;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #0f143a98 ;
    transition-duration: 0.5s;
  }


  #principal div a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    
  }